body {
    margin: 0px;
    background-color: rgb(25, 25, 25)
}
main {
    margin: 10px;
}
.titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    text-align: left;
    padding: 10px;
}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    text-align: right;
    padding: 10px;
}
/* -Nav Bar Section- */
.header {
    margin-right: 20%;
    margin-left: 20%;
}
.navbar {
    display: flex;
    justify-content: left;
    background-color: rgb(50, 50, 50);
}
.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.navbar a:hover {
    color: black;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}
.navbar li {
    margin: 0 10px;
}

.SelectedTab a{
    color: black;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

/* #region About*/
.AboutDiv {
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}
.AboutDiv img {
    display: flex;
    float: right;
    max-width: 20%;
}
.TextDiv {
    margin-left: 20px;
}
.TextDiv h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: left;
    background-color: rgb(50, 50, 50);
    display: flex;
    font-weight: 100;
    text-transform: uppercase;
}

.TextDiv h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: left;
    font-weight: 100;
}

/* -About Links Section- */
.links {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.links h1 {
    display: table-row;
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.links ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    overflow: hidden;
}
.links a {
    background-color: rgb(50, 50, 50);
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.links a:hover {
    color: black;
    background-color: rgb(255,255,255);
}

.links ul li img{
    max-width: 50px;
}

/* #endregion About*/

/* #region Projects*/
.projects {
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.projects h1{
    color: white;
    font-family: "Montserrat", sans-serif;
}

/*Project*/
.project-list {
    padding: 0;
}
.project-list li{
    list-style-type: none;
}

.project {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.project h2 {
    color: rgb(189, 34, 60);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.project h3{
    color: rgb(189, 34, 60);
    font-family: "Montserrat", sans-serif;
}
.project p {
    color: white;
    text-indent: 25px;
    font-family: "Montserrat", sans-serif;
}
.project div{
    display: flexbox;
    align-content: center;
}

.project-details li {
    color: white;
    font-family: "Montserrat", sans-serif;
    list-style-type: square;
    padding: 5px;

}
.project h4 {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.contributions li {
    color: white;
    font-family: "Montserrat", sans-serif;
    list-style-type: square;
    padding: 5px;
}

.project-link img {
    max-width: 100px;
}
/* #endregion Projects*/

/* #region Contact*/
.contact {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;

    align-content: center;
    padding: 10px;
    background-color: rgb(50,50,50);
    display: block;
}
.contact h1 {
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 100;
}
.contact p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 100;

}
.contact ul {
    list-style-type: square;
}
.contact li {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 100;
}
/* #endregion Contact*/

