:root {
  --background: #01161E;
  --secondary-background: #124559;

  --panel: #598392;
  
  --text: #AEC3B0;
  --secondary-text: #EFF6E0;
}

body {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--text);
}

main {
    margin: 10px;
}

/* -Header Section- */

.header {
    background-color: var(--background);
    display: flex;
    position: sticky;
    object-fit: fill;
    width: 100%;
    top: 0;
    z-index: 999;
}

.titleDiv {
    display: block;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.title {
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 100;
}

.name {
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-weight: 300;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.contact img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.ResumeDiv {
    margin-left: auto;
    align-content: center;
}

.ResumeButton {
    display: flex;
    padding: 5px;
    width: 125px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text);

    text-align: center;
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-decoration: none
}


.ResumeDiv img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.ResumeButton button:hover {
    border: 1px solid var(--secondary-text);
    transition: border 0.1s ease-in;
}

.Title {
    color: var(--secondary-text);
}

/* -Projects Section- */

.Project-Div {
    display: block;
}

.Project-List {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.Project {
    background-color: var(--secondary-background);
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    height: 525px;
    display: flex;
    min-width: 0;
    overflow: hidden;
    flex-direction: column;

    text-decoration: none;
    color: var(--text);
}
.Project:hover {
    cursor: pointer;
    border: 1px solid var(--secondary-text);
    transition: border 0.1s ease-in;
}

.Project-Video{
    position: relative;
    display: flex;
    flex-direction: column;
}

.Project-Video-Overlay {
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: auto;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
}

.Overlay-Content {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;    
}

.Overlay-Content img {
    height: inherit;
    padding-right: 5px;
}

.Project video {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Project-Title {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
}
.Project-Title h1, h3{
    font-weight: 100;
    margin: 0px;
}

.Project-Title h1 {
    font-weight: 300;
    color: var(--secondary-text);
}

.Project-Description {
    padding: 10px;
}

.Project-Description p {
    font-size: 1.2rem;
    color: white;
    margin: 0px;
}

/* -Education Section- */

.Education-List {
    display: flex;
    gap: 10px;
}

.Education {
    background-color: var(--secondary-background);
    border-radius: 5px;
    padding: 25px;
    align-items: center;
}
.Education h2, h3 {
    font-weight: 100;
    margin: 0px;
}

/* -Skills Section- */
.Skills-List {
    display: flex;
    padding: 5px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 10px;
}

.Skill {
    height: auto;
    border: 2px solid var(--secondary-text);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.Skill p {
    font-size: 1.2rem;
    padding: 0;
    color: var(--secondary-text);
    margin: 0px;
    text-align: center;
}
